{
  "presets": ["next/babel"],
  "plugins": [
    // ["babel-plugin-import"],
    // ["babel-plugin-inline-import"],
    [
      "import",
      {
        "libraryName": "antd",
        // "style": true
      }
    ]
  ]
}
